/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
}

/* UTILITIES */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.flex-container {
    display: flex;
}

/* HEADER */
header {
    background-color: #0084fd;
}

header .container {
    height: 80px;
}

header .container nav.flex-container {
    background-color: green;
    height: 100%;    
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .container nav.flex-container .logo {
    background-color: orange;
}

header .container nav.flex-container .burger-menu {
    background-color: orange;
}

header .container nav.flex-container ul.flex-container {
    background-color: purple;
    display: none;
}

header .container nav.flex-container ul.flex-container li {
    margin-left: 2rem;
    
    /* TEST */
    background-color: orange;
}

/* MAIN */

/* SECTION - Features */
#features {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#features .container .columns.flex-container {
    flex-wrap: wrap;
    
    /* TEST */
    border: 1px solid red;
}

#features .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 1.4rem;
    
    /* TEST */
    border: 1px solid red;
}

/* SECTION - Assets */
#assets {
    padding-top: 7rem;
    padding-bottom: 2rem;
    background-color: #9792e4;
}

#assets .container .columns.flex-container {
    flex-wrap: wrap;
    
    /* TEST */
    border: 1px solid red;
}

#assets .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 2rem;

    /* TEST */
    border: 1px solid red;
}

/* SECTION - Testimonials */
#testimonials {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#testimonials .container .columns.flex-container {
    flex-wrap: wrap;
    
    /* TEST */
    border: 1px solid red;
}

#testimonials .container .columns.flex-container .col {
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 2rem;
    color: white;

    /* TEST */
    border: 1px solid red;       
}

#testimonials .container .columns.flex-container .col.description {
    background-color: white;
    width: 100%;
    padding-bottom: 2rem;
    color: black;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - Benefits */
#benefits {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #9792e4;
}

#benefits .container .columns.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* TEST */
    border: 1px solid red;
}

#benefits .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 2rem;
    color: black;
    background-color: white;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - About Us */
#about-us {
    padding-top: 6rem;
    padding-bottom: 7rem;
    background-color: white;
}

#about-us .container .columns.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* TEST */
    border: 1px solid red;
}

#about-us .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 2rem;
    color: black;
    background-color: white;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - Get Started */
#get-started {
    background-color: #9792e4;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#get-started .container {
    text-align: center;
}
#get-started .container .cta {
}


/* FOOTER */


/********************
    MEDIA QUERIES
********************/

/* MOBILE */
@media screen and (max-width: 767px) {

}

/* TABLET */
@media screen and (min-width: 768px) {

    /* SECTION - Features */
    #features .container .columns.flex-container {
        justify-content: space-between;    
        /* margin-left: -1.4rem;
        margin-right: -1.4rem; */
                
        /* TEST */
        border: 1px solid blue;
    }
    
    #features .container .columns.flex-container .col {
        width: calc((100% / 3) - 1.4rem);

        /* TEST */
        border: 1px solid blue;
        background-color: #b5ddff;
    }
        
    #features .container .columns.flex-container .col:first-child {
        width: calc((100% / 3) * 2 - 0.7rem);
    }

    /* SECTION - Benefits */
    #benefits .container .columns.flex-container .col {
        width: calc(50% - 1.4rem);
    }
    
    /* SECTION - About Us */
    #about-us .container .columns.flex-container .col.text {
        width: calc((100% / 3) * 2 - 3rem);
    }
    #about-us .container .columns.flex-container .col.image-quote {
        width: calc((100% / 3) - 3rem);
    }

    /* SECTION - Get Started */
    #get-started .container {
        width: 560px;
        padding: 0;
        
        /* TEST */
        border: 1px solid red;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {

    /* HEADER */
    header .container nav.flex-container .burger-menu {
        display: none;
    }
    header .container nav.flex-container ul.flex-container {
        display: flex;
    }    
    
    /* SECTION - Assets */
    #assets .container {
        max-width: 950px;
    }
    
    #assets .container .columns.flex-container {
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        
        /* TEST */
        border: 1px solid red;
    } 
    
    #assets .container .columns.flex-container .col {
        width: calc(50% - 2rem);
    }
    
    /* SECTION - Benefits */
    #benefits .container .columns.flex-container .col {
        width: calc((100% / 3) - 1.4rem);
    }    
    
    /* SECTION - About Us */
    #about-us .container {
        max-width: 1120px;
    }
    #about-us .container .columns.flex-container .col.text {
        width: calc((100% / 3) * 2 - 3.5rem);
    }
    #about-us .container .columns.flex-container .col.image-quote {
        width: calc((100% / 3) - 3.5rem);
    }
}