/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7rem;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}

/* UTILITIES */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.flex-container {
    display: flex;
}
.card {
    height: 100%;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 25px;
}

/* HEADER */
header {
    background-color: #0084fd;
}

header .container {
    height: 80px;
}

header .container nav.flex-container {
    height: 100%;    
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .container nav.flex-container .burger-menu {
    font-size: 1.5rem;
}

header .container nav.flex-container ul.flex-container {
    display: none;
}

header .container nav.flex-container ul.flex-container li {
    margin-left: 2rem;
}

/* MAIN */

/* SECTION - Features */
#features {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#features .container .columns.flex-container {
    flex-wrap: wrap;
}

#features .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 1.4rem;
}

#features .col:first-child .card.flex-container {
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
    text-align: left;
}

#features .col .card {
    background-color: #b5ddff;
    text-align: center;
    justify-content: center;
    align-items: center;
}    

#features .col .card .icon {
    width: 100%;
    color: #0084fd;
    font-size: 5rem;
}

#features .col .card h2 {
    color: #0084fd;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

#features .col .card p {
    line-height: 1.7rem;
    font-weight: 600;
    color: #5a6e7f;
}

#features .col .card .text a {
    font-weight: 600;
    color: white;
    letter-spacing: 0.25rem;
    background-color: #0084fd;
    border-radius: 20px;
    padding: 12px 40px;
    margin-top: 2rem;
}

#features .col .card.flex-container img {
    width: 250px;
    margin-top: 2rem;
}

/* SECTION - Assets */
#assets {
    padding: 4rem 0;
    background-color: #9792e4;
}

#assets .container .columns.flex-container {
    flex-wrap: wrap;
}

#assets .container .columns.flex-container .col {
    width: 100%;
}

#assets .container .columns.flex-container .col .flex-container {
    height: 100%;
    flex-wrap: wrap;
    padding: 2rem;
    color: white;
}

#assets .container .columns.flex-container .col .flex-container h2 {
    font-size: 2.3rem;
    margin: 7rem 0 4rem;
}

#assets .container .columns.flex-container .col .card {
    background-color: white;
    color: black;
    text-align: center;
}    

#assets .container .columns.flex-container .col .card h3 {
    font-size: 1.5rem;
    margin: 1.5rem auto;
}    

#assets .container .columns.flex-container .col .card a {
    font-weight: 800;
    font-size: 1rem;
    color: black;
    background-color: #9792e4;
    margin: 2rem auto 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    transform: rotate(90deg);
}    

/* SECTION - Testimonials */
#testimonials {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#testimonials .container .columns.flex-container {
    flex-wrap: wrap;
    
    /* TEST */
    border: 1px solid red;
}

#testimonials .container .columns.flex-container .col {
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 2rem;
    color: white;

    /* TEST */
    border: 1px solid red;       
}

#testimonials .container .columns.flex-container .col.description {
    background-color: white;
    width: 100%;
    padding-bottom: 2rem;
    color: black;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - Benefits */
#benefits {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #9792e4;
}

#benefits .container .columns.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* TEST */
    border: 1px solid red;
}

#benefits .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 2rem;
    color: black;
    background-color: white;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - About Us */
#about-us {
    padding-top: 6rem;
    padding-bottom: 7rem;
    background-color: white;
}

#about-us .container .columns.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* TEST */
    border: 1px solid red;
}

#about-us .container .columns.flex-container .col {
    width: 100%;
    padding-bottom: 2rem;
    color: black;
    background-color: white;

    /* TEST */
    border: 1px solid red;       
}

/* SECTION - Get Started */
#get-started {
    background-color: #9792e4;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#get-started .container {
    text-align: center;
}
#get-started .container .cta {
}


/* FOOTER */
footer {
    background-color: #333333;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
footer .container {
    text-align: center;
}
footer .container > div {
    color: white;
}



/********************
    MEDIA QUERIES
********************/

/* MOBILE */
@media screen and (max-width: 767px) {

}

/* TABLET */
@media screen and (min-width: 768px) {

    /* SECTION - Features */
    #features .container .columns.flex-container {
        justify-content: space-between;
    }
    
    #features .container .columns.flex-container .col {
        width: calc((100% / 3) - 1.4rem);
    }
    
    #features .container .columns.flex-container .col:first-child {
        width: calc((100% / 3) * 2 - 0.7rem);
        justify-content: flex-start;
    }

    /* SECTION - Benefits */
    #benefits .container .columns.flex-container .col {
        width: calc(50% - 1.4rem);
    }
    
    /* SECTION - About Us */
    #about-us .container .columns.flex-container .col.text {
        width: calc((100% / 3) * 2 - 3rem);
    }
    #about-us .container .columns.flex-container .col.image-quote {
        width: calc((100% / 3) - 3rem);
    }

    /* SECTION - Get Started */
    #get-started .container {
        width: 560px;
        padding: 0;
        
        /* TEST */
        border: 1px solid red;
    }

    /* FOOTER */
    footer .container {
        width: 500px;
    }
    
}

/* DESKTOP */
@media screen and (min-width: 992px) {

    /* HEADER */
    header .container nav.flex-container .burger-menu {
        display: none;
    }
    header .container nav.flex-container ul.flex-container {
        display: flex;
        align-items: center;
    }    
    
    header .container nav.flex-container ul.flex-container li:last-child {
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 8px 12px;
    }    
    
    /* SECTION - Features */
    #features .col:first-child .card.flex-container > * {
        width: 50%;
    }
    
    /* SECTION - Assets */
    #assets .container {
        max-width: 950px;
    }
    
    #assets .container .columns.flex-container {
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    } 
    
    #assets .container .columns.flex-container .col {
        width: calc(50% - 2rem);
    }
    
    #assets .container .columns.flex-container .col .card img {
        width: 68%;
        margin: 0 auto;    
    }    

    /* SECTION - Benefits */
    #benefits .container .columns.flex-container .col {
        width: calc((100% / 3) - 1.4rem);
    }    
    
    /* SECTION - About Us */
    #about-us .container {
        max-width: 1120px;
    }
    #about-us .container .columns.flex-container .col.text {
        width: calc((100% / 3) * 2 - 3.5rem);
    }
    #about-us .container .columns.flex-container .col.image-quote {
        width: calc((100% / 3) - 3.5rem);
    }
}